body{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 0px;
}
.card {

    width: 500px;
}
.card img{
    height: 60px;
    width: 60px;
}
.green{
    background-color: rgb(10, 132, 153);
    padding:  5px 20px;
}
.green img{
    position: relative;
    top: 35px;
    border-radius: 50%;
    filter: invert(100%);
    border: 3px solid white;
    z-index: 3;
}
#white-background{
    position: relative;
    top: 38px;
    right: 140px;
    border-radius: 50%;
    border: 5px solid black;
    z-index: 2;
}
#grey-background{
    position: relative;
    top: 39px;
    right: 69px;
    filter:none;
    border-radius: 50%;
    border: 6px solid grey;
    z-index: 1;
}
.white{
    background-color: white;
    padding: 0px 20px;
    font-weight: bold;
    border:solid 2px grey;
}
.white img{
    height: 15px;
    width: auto;
    margin: 0px 5px 0px 0px;
}
p {
    position: relative;
    bottom:15px;
}