<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Dojo Survey</title>
        <link rel="stylesheet"  href="~/styles.css">

        </head>
        <body>
                        <form action='/users/process-registration' method='POST' class = form>
                        Your Name: <input type='text' name='name'><br>
                            <label for="Dojo">Dojo Location:</label>
                            <select name="dojo" id="dojo">
                              <option value="Bellevue">Bellevue</option>
                              <option value="Los Angeles">Los Angeles</option>
                              <option value="Austin">Austin</option>
                              <option value="New York City">New York City</option>
                            </select><br>
                            <label for="Language">Favorite Language:</label>
                            <select name="language" id="language">
                              <option value="Python">Python</option>
                              <option value="HTML">HTML</option>
                              <option value="CSS">CSS</option>
                              <option value="Java Script">Java Script</option>
                            </select><br>
                        Comment (optional): <br><textarea rows="4" cols="50" name="comment" id="comment"></textarea> <br>
                        <input type='submit' value='submit'>
                                        </form>
        </body>

</html>