@model Customer

<div>
  <h2 class="text-center">New Customer</h2>
  <form asp-controller="Customers" asp-action="Create" class="shadow p-3 rounded" method="POST">
    <div class="form-group">
      <label asp-for="FirstName"></label>
      <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
      <input asp-for="FirstName" class="form-control">
    </div>

    <div class="form-group">
      <label asp-for="LastName"></label>
      <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
      <input asp-for="LastName" class="form-control">
    </div>

    <div class="form-group">
      <label asp-for="Address"></label>
      <span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
      <input asp-for="Address" class="form-control">
    </div>

    <button class="btn btn-outline-success">Submit</button>
  </form>
</div>