@{
    ViewData["Title"] = "Home Page";
}
@model Chef;

<div class="text-center">
    <h1 class="display-4"><a href="/">Dishes</a> | Chefs</h1>
    <h1 class="display-4"><a href="/NewChef">"Add a Chef"</a></h1>
    <p>Check out our roster of Chefs!</p>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="width: 800px;">
         <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th># of Dishes</th>
                </tr>
        @{
                    foreach(var c in ViewBag.All)
                    {
                        <tr>
                        <td>@c.FirstName @c.LastName</td>
                        <td>@c.BirthDate</td>
                        </tr>
                    }
                }
                </table>
        </div>
    </div>
