<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Your Fighters</title>
</head>
<body>
    <div class="title">
        <h1>Welcome {{logged_in_user['first_name']}}</h1>
        <h1>Let's Get Ready to Rumble</h1>
        <a href="/user/exit"><button>Logout</button></a>
    </div>
    <div>Account Balance {{logged_in_user['money']}}</div>
    <h1>Your Fighting Stable</h1>
        <div>
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Strength</th>
                <th>Accuracy</th>
                <th>Take Down Defense</th>
                <th>Take Down Offense</th>
            </thead>
            <tbody>
                {% for fighter in all_fighter %}
                <tr>
                    <td>{{fighter.first_name}}</td>
                    <td>{{fighter.last_name}}</td>
                    <td>{{fighter.age}}</td>
                    <td>{{fighter.strength}}</td>
                    <td>{{fighter.accuracy}}</td>
                    <td>{{fighter.td_offense}}</td>
                    <td>{{fighter.td_defense}}</td>
                    <td>
                        <a href="/fighter/{{fighter.id}}/view">View</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <a href="fighter/view"><button>View Fighters</button></a>
        <a href="fighter/view_base"><button>Buy New Fighters</button></a>
</body>
</html>