<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="title">
        <span></span>
        <h1>{{base_fighter.first_name}} {{base_fighter.last_name}}</h1>
        <a href="/"><button>Go Home</button></a>
        <a href="/user/exit"><button>Logout</button></a>
        <a href="fighter/view_base"><button>Return to Opponents</button></a>
    </div>
    <div class="content">
        <p name="first_name">{{base_fighter.first_name}}</p>
        <p name="last_name">{{base_fighter.last_name}}</p>
        <p name="age">{{base_fighter.age}}</p>
        <p name="strength">{{base_fighter.strength}}</p>
        <p name="accuracy">{{base_fighter.accuracy}}</p>
        <p name="td_offense">{{base_fighter.td_offense}}</p>
        <p name="td_defense">{{base_fighter.td_defense}}</p>
        <p name="price">{{base_fighter.price}}</p>
        <p name="Base_UFC_Fighters_id">{{base_fighter.id}}</p>
        <form action="/base_fighter/update" method="post">
            <input type="hidden" name = "Base_UFC_Fighters_id" value ="{{base_fighter.id}}">
            <button>update</button>
        </form>
        <!-- <form action="/base_fighter/update" method="POST">
            


            <button>buy</button>
        </form> -->
    </div>
</body>

</html>